<html>
<head>
    <title>moviEharmony by Patrick Zheng</title>

    <link rel="stylesheet" type="text/css" href="static/css/screen.css">
    <link rel="stylesheet" type="text/css" href="static/css/css.css">
    <link rel="stylesheet" href="static/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="static/collageplus/css/transitions.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/css/bootstrap-slider.css">

    <!-- Other Stuff -->

    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="static/js/bootstrap-slider.js"></script>

    <script type="text/javascript" src="static/js/index.js"></script>

    <script type="text/javascript" src="static/collageplus/jquery.collagePlus.min.js"></script>
    <script type="text/javascript" src="static/collageplus/extras/jquery.removeWhitespace.min.js"></script>
    <script type="text/javascript" src="static/collageplus/extras/jquery.collageCaption.min.js"></script>

    <script type="text/javascript">
    $( document ).ready(function() {
	
    });

    // All images need to be loaded for this plugin to work so
    // we end up waiting for the whole window to load in this example
    $(window).load(function () {
        $(document).ready(function(){
            collage();
	    $('.Collage').collagePlus();
            // $('.Collage').collageCaption();
        });
    });
    // Here we apply the actual CollagePlus plugin
    function collage() {
        $('.Collage').collagePlus(
            {
                // 'fadeSpeed'     : 2000,
		//'direction'       : 'vertical' 		,
		'effect'          : 'default',		
		'direction'       : 'horizontal'		,
                'targetHeight'  : 100
            }
        );
    };
    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
        // hide all the images until we resize them
        //$('.Collage .Image_Wrapper').css("opacity", 0);
        // set a timer to re-apply the plugin
        //if (resizeTimer) clearTimeout(resizeTimer);
        //resizeTimer = setTimeout(collage, 200);
    });

    </script>


                <script src="./static/highmaps/js/highmaps.js"></script>
                <script src="./static/highmaps/js/modules/data.js"></script>
                <script src="./static/highmaps/js/modules/exporting.js"></script>
                <script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>

<link rel="alternate" type="application/rss+xml" title="moviEharmony by Patrick Zheng" href="http://www.moviEharmony.website/rss/">
<link rel="canonical" href="http://www.moviEharmony.website/">
</head>

<body class="home-template">
<header id="site-head" style="background-image: url(static/family-in-living-room-4-netflix-logo-on-red.jpg)">
    <div class="vertical">
        <div id="site-head-content" class="inner">


            <h1 class="blog-title">moviEharmony</h1>
            <h2 class="blog-description">by <b>Patrick Zheng</b>,<br>
            a data engineering fellow at insight data science</h2>

            <a class="btn" url="/moviesearch/">MovieSearch</a>
            <a class="btn" url="/queryuser/">queryuser</a>
            <a class="btn" url="/enterreview/">enterreview</a>
		<a class="btn" url="/about/">About</a>
            <div>
            <p>moviEharmony batch processed<br>
            the massive amazon review database<br>
            so we can give better recommendation<br>
            base on our user's taste<br>
            </p>
            </div>
            <div id="realtimecounter" src="http://www.moviEharmony.website:5000/moviesearch/_count">
                Number of reviews processed: 4,607,088
            </div>
        </div>
    </div>

</header>

<main class="content" role="main">

    <div style="display: block" class="fixed-nav">
        <a class="fn-item" url="/moviesearch/">MovieSearch</a>
        <a class="fn-item" url="/queryuser/">queryuser</a>
        <a class="fn-item" url="/enterreview/">enterreview</a>
	<a class="fn-item" url="/about/">About</a>
    </div>
    <div class="post-holder">

            <article item_index="1" class="post" url="/moviesearch/">

            <header class="post-header">

                <h2 class="post-title">MovieSearch</h2>

            </header>
            <section class="post-content">
                Find good movies for two!<br>
<table>
    <tr>
    <td align=center>
	<b>User1 ID: </b><input id="user1" type="text" value="888888"><br>
<!--
        <b>Humor</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="RC01" id="R01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <b>Tears</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="GC01" id="G01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <b>Action</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="BC01" id="B01" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <div id="RGB01"></div>
-->
    </td>
    <td align=center>
           <b>Power: </b> <input type="text" class="span2" value="" data-slider-min="20" data-slider-max="80" data-slider-step="5" data-slider-value="50" data-slider-id="PC02" id="P02" data-slider-tooltip="hide" data-slider-handle="round" />
    </td>
    <td align=center>
	<b>User2 ID: </b><input id="user2" type="text" value="110"><br>
<!--
        <b>Humor</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="RC02" id="R02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <b>Tears</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="GC02" id="G02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <b>Action</b> <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="BC02" id="B02" data-slider-tooltip="hide" data-slider-handle="round" /><br>
        <div id="RGB02"></div>
-->
    </td>
    </tr>
</table>
                <div class="Collage"></div>
            </section>
        </article>
        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div>

    <div class="post-holder">
            <article item_index="1" class="post" url="/queryuser/">
            <header class="post-header">
                <h2 class="post-title">User Profile</h2>
            </header>
            <section class="post-content">
                <br>
			<b>User1 ID: </b><input id="user1profileid" type="text" value="888888">
			<input id="submituserquery1" type="submit" value="Submit" >
                <div class="user1movielist"></div>
			<b>User2 ID: </b><input id="user2profileid" type="text" value="110">
			<input id="submituserquery2" type="submit" value="Submit" >
                <div class="user2movielist"></div>
            </section>
        </article>
        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div>


    <div class="post-holder">
            <article item_index="1" class="post" url="/enterreview/">
            <header class="post-header">
                <h2 class="post-title">Enter Review</h2>
            </header>
            <section class="post-content">
		<table>
    			<tr>
    				<td align=center>
                			<b>Explore by Movie ID: </b><input id="movieprofileid" type="text" value="B000003K81">
					<input id="submitmoviequery" type="submit" value="Submit" >
				</td>
			</tr>
		</table>
                <div class="moviedetails"></div>
		<table>
    			<tr>
    				<td align=center>
					<b>User ID: </b>
				</td>
				<td>
					<input id="reviewerid" type="text" value="888888"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Movie ID: </b>
				</td>
				<td>
					<input id="asin" type="text" value="B000003K81"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Overall: </b>
				</td>
				<td>
					<input id="overall" type="text" value="4"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Summary: </b>
				</td>
				<td>
					<input id="summary" type="text" value="I love this movie"><br>
				</td>
			</tr>
			<tr>
				<td>
					<b>Reivew Text: </b>
				</td>
				<td>
					<input id="reviewText" type="text" value="Really interesting movie ...."><br>
				</td>
			</tr>
			<tr>
				<td>
					<input id="submitreview" type="submit" value="Submit" >
				</td>
			</tr>
		</table>
                <div class="submitreviewstatus"></div>
		<br>
            </section>
        </article>
        <div style="border-top-color: rgb(242, 239, 232); left: 6%; display: block;" class="post-after"></div>
    </div>



    <!--div style="color: white; background: rgb(0, 153, 204);" class="post-holder"-->
    <div class="post-holder">

            <article item_index="6" class="post" url="/about/">

            <header class="post-header">

                <h2 class="post-title">About</h2>

            </header>
            <section class="post-content">
                <ul>
                <li>Find out more about the author, Patrick Zheng, at <a href="https://www.linkedin.com/in/patrickzheng" target="_blank">LinkedIn page</a>.</li>
                <li><a href="https://docs.google.com/presentation/d/1-A-qJugSwMEH5jcRqVluHKBr8kAQCnNkOQnQCe6Hrvo/pub?start=false&loop=false&delayms=3000" target="_blank">Slideshow</a>.</li>
                </ul>
            </section>
        </article>
        <div style="border-top-color: rgb(0, 153, 204);" class="post-after"></div>
    </div>

</main>

    <footer class="site-footer">
        <div class="inner">
            "May the Force be with you."
        </div>
    </footer>

<script type="text/javascript">



$('.Collage').removeWhitespace().collagePlus(
    {
        //'targetHeight' : 100,
        'targetHeight' : 100
    }
);

var loadTimer = null;

var RGBChange = function() {
    //$('#RGB01').css('background', 'rgb('+r01.getValue()+','+g01.getValue()+','+b01.getValue()+')');
    //$('#RGB02').css('background', 'rgb('+r02.getValue()+','+g02.getValue()+','+b02.getValue()+')');
    //alert("start");
    var user1 = document.getElementById("user1").value;
    //alert(user1);
    var user2 = document.getElementById("user2").value;
    //alert(user2);
    var p02 = document.getElementById("P02").value;
    //alert(p02);
    loadthisurl = "/moviesearchrefresh/"+user1+"/"+user2+"/"+p02+"";
    //alert(loadthisurl);
    //loadthisurl = "/moviesearch";

    //if (loadTimer) clearTimeout(loadTimer);
    //loadTimer = setTimeout(function() {$('.Collage .Image_Wrapper').css("opacity", 0); $('.Collage').load(loadthisurl);} , 500);
    loadTimer = setTimeout(function() {$('.Collage .Image_Wrapper').css("opacity", 0); $('.Collage').load(loadthisurl);} , 500);
    //$('.Collage').load(loadthisurl);
    //alert("loading");
    $('.Collage').collagePlus();
};

var loadthisurl = "";

//var r01 = $('#R01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var g01 = $('#G01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var b01 = $('#B01').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');

//var r02 = $('#R02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var g02 = $('#G02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
//var b02 = $('#B02').slider()
        //.on('slideStop', RGBChange)
        //.data('slider');
var p02 = $('#P02').slider()
        .on('slideStop', RGBChange)
        .data('slider');

//RGBChange();

//function user1profile() {
    //var user1 = document.getElementById("user1profileid").value;
    //user1url = "/userquery/"+user1;
    //loadTimer = setTimeout(function() {$('.user1movielist').load(user1url);} , 500);
//};
//function user2profile() {
    //var user2 = document.getElementById("user2profileid").value;
    //user2url = "/userquery/"+user2;
    //loadTimer = setTimeout(function() {$('.user2movielist').load(user2url);} , 500);
//};
//user1profile();
//user2profile();
document.getElementById("submituserquery1").onclick = function () {
	var user1 = document.getElementById("user1profileid").value;
	user1url = "/queryuser/" + user1 ;
	$('.user1movielist').load(user1url);
};
document.getElementById("submituserquery2").onclick = function () {
	var user2 = document.getElementById("user2profileid").value;
	user2url = "/queryuser/" + user2;
	$('.user2movielist').load(user2url);
};
document.getElementById("submitmoviequery").onclick = function () {
	var movieprofileid = document.getElementById("movieprofileid").value;
	movieurl = "/submitmoviequery/" + movieprofileid ;
	$('.moviedetails').load(movieurl);
};
document.getElementById("submitreview").onclick = function () {
	var reviewerID = document.getElementById("reviewerid").value;
	var asin = document.getElementById("asin").value;
	var overall = document.getElementById("overall").value;
	var summary = document.getElementById("summary").value;
	var reviewText = document.getElementById("reviewText").value;
	//alert("in");
	summary = summary.replace(/\W+/g, "_")
	reviewText = reviewText.replace(/\W+/g, "_")
	movieurl = "/submitreview/" + reviewerID + "/" + asin + "/" + overall + "/" + summary + "/" + reviewText ;
	//alert(movieurl);
	$('.submitreviewstatus').load(movieurl);
};


</script>

</body></html>
